---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="p-0 m-0">
		<div class="bg-gray-950 p-2"><p class="text-white text-sm">asd</p></div>
		<header class="bg-white flex p-4 justify-between">
			<div class="flex gap-1 left-12">
				<p class="text-2xl font-bold">Ozone</p>
			</div>
			<nav class="flex gap-4 left-[800px]">
				<ul class="flex">
					<li class="mr-3"><a href="#">Features</a></li>
					<li class="mr-3"><a href="#">Categories</a></li>
					<li class="mr-3"><a href="#">Contact Us</a></li>
					<li class="mr-3"><a href="#">Blog</a></li>
					<li class="mr-3"><a href="#">About us</a></li>
				</ul>
			</nav>
			<div class="flex gap-4 left-[1750px] cursor-pointer">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z"
					></path>
				</svg>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
					></path>
				</svg>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
					></path>
				</svg>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
					></path>
				</svg>
			</div>
		</header>
		<main>
			<div
				class="bg-cover bg-no-repeat bg-center pt-[300px]"
				style="background-image: url(https://media.glamour.mx/photos/6190c4daf5ed039ceea8d850/master/pass/156462.jpg);"
			>
				<div class="cotainer">
					<h1 class="text-7xl text-black mb-4  pl-8 relative bottom-28">
						August Collection
					</h1>
					<div class="pl-[200px] relative bottom-28">
						<p>Top Fashion Trending</p>
					</div>
					<button class="bg-red-500 px-6 py-2 mt-12 ml-[240px] rounded-xl mb-10 relative bottom-28"
						><a href="#">See</a></button
					>
				</div>
			</div>
		</main>
		<div class="ml-8 text-left mt-14 w-[400px]">
			<h2 class="text-7xl">Daily Deals</h2>
			<p class="mt-5 text-lg">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi
				rem error velit quos distinctio sint labore quod ipsam hic
				totam?
			</p>
		</div>
		<div class="relative bottom-11 -mt-[110px] h-[400px] flex gap-3 max-w-[1200px] ml-[600px]">
			<div class="min-w-44 bg-gray-300 rounded-md grow"><img src="https://muma.co/wp-content/uploads/2023/04/157.png" alt=""></div>
			<div class="min-w-44 bg-gray-300 rounded-md grow"><img src="https://muma.co/wp-content/uploads/2023/04/157.png" alt=""></div>
			<div class="min-w-44 bg-gray-300 rounded-md grow"><img src="https://muma.co/wp-content/uploads/2023/04/157.png" alt=""></div>
		</div>
		</div>
		<div class="bg-gray-950 p-2"><p class="text-white text-sm text-center">Lorem ipsum dolor sit amet.</p></div>
		<div class="ml-[20px] flex gap-3 w-[1870px] mt-16 h-[616px] ">
			<div class=" bg-gray-300 rounded-md grow"><img class="w-[100%]" src="https://png.pngtree.com/png-vector/20240723/ourmid/pngtree-d-a-pretty-girl-wearing-glasses-and-pointing-hand-to-peaceful-png-image_13217783.png" alt=""><p class="text-8xl relative bottom-[400px] left-[180px] text-white max-w-10">MEN</p></div>
			<div class="bg-gray-300 rounded-md grow"><img class="w-[100%]" src="https://png.pngtree.com/png-vector/20240723/ourmid/pngtree-d-a-pretty-girl-wearing-glasses-and-pointing-hand-to-peaceful-png-image_13217783.png" alt=""><p class="text-8xl relative bottom-[400px] left-[140px] text-white max-w-10">Women</p></div>
			<div class="bg-gray-300 rounded-md grow" ><img class="w-[100%]" src="https://png.pngtree.com/png-vector/20240723/ourmid/pngtree-d-a-pretty-girl-wearing-glasses-and-pointing-hand-to-peaceful-png-image_13217783.png" alt=""><p class="text-8xl relative bottom-[400px] left-[190px] text-white max-w-10">KIDS</p></div>
		</div>
		<div class="text-6xl text-black font-bold text-center mt-16">Best seller</div>
		<div class="bg-gray-950 p-2"><p class="text-white text-sm text-center">Lorem ipsum dolor sit amet.</p></div>
		<footer>
			<div class="text-center mt-4">
				<h2 class="text-4xl font-bold">Ozone</h2>
				<p class="text-sm">Lorem ipsum dolor sit amet.</p>
				<p class="text-2xl text-red-500">+57 3166979109</p>
				<p class="text-xs">Lorem, ipsum dolor.</p>
			</div>
			<div class="text-center ">
				<ul class="flex gap-6 relative left-[700px] mt-12 ">
					<li><a href="">Conctact us</a></li>
					<li><a href="">Information</a></li>
					<li><a href="">Extras</a></li>
					<li><a href="">About us</a></li>
					<li><a href="">Service polices</a></li>
					<li><a href="">Map</a></li>
				</ul>
			</div>
			<div class="text-center mt-12 mb-10"><h4>Copyright © 2024 Tailwind Labs Inc.</h4></div>
		</footer>
	</body>
</html>